Repository ME-sdeo/codequest2-84xz55, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @frontend-team, @devops-team, @security-team, @qa-team

Add public-samples/codequest2-84xz55/src/web/src/components/analytics/PerformanceGraph.tsx
  src/web/src/components/analytics/PerformanceGraph.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @security-team, @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/auth/RegisterForm.tsx
  src/web/src/components/auth/RegisterForm.tsx
Owners: @security-team, @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/auth/SSOButtons.tsx
  src/web/src/components/auth/SSOButtons.tsx
Owners: @security-team, @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/badges/BadgeCard.tsx
  src/web/src/components/badges/BadgeCard.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/badges/BadgeGrid.tsx
  src/web/src/components/badges/BadgeGrid.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/common/Avatar.tsx
  src/web/src/components/common/Avatar.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/common/Dropdown.tsx
  src/web/src/components/common/Dropdown.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/common/Input.tsx
  src/web/src/components/common/Input.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/common/Modal.tsx
  src/web/src/components/common/Modal.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/common/Select.tsx
  src/web/src/components/common/Select.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/common/Spinner.tsx
  src/web/src/components/common/Spinner.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/common/Table.tsx
  src/web/src/components/common/Table.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/common/Tabs.tsx
  src/web/src/components/common/Tabs.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/common/Toast.tsx
  src/web/src/components/common/Toast.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/dashboard/DashboardHeader.tsx
  src/web/src/components/dashboard/DashboardHeader.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/dashboard/DashboardLayout.tsx
  src/web/src/components/dashboard/DashboardLayout.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/dashboard/DashboardSidebar.tsx
  src/web/src/components/dashboard/DashboardSidebar.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/leaderboard/LeaderboardCard.tsx
  src/web/src/components/leaderboard/LeaderboardCard.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/leaderboard/LeaderboardTable.tsx
  src/web/src/components/leaderboard/LeaderboardTable.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/points/PointsCard.tsx
  src/web/src/components/points/PointsCard.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/points/PointsChart.tsx
  src/web/src/components/points/PointsChart.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/points/PointsHistory.tsx
  src/web/src/components/points/PointsHistory.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/settings/CompanySettings.tsx
  src/web/src/components/settings/CompanySettings.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/settings/OrganizationSettings.tsx
  src/web/src/components/settings/OrganizationSettings.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/settings/PointsConfiguration.tsx
  src/web/src/components/settings/PointsConfiguration.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/settings/TeamSettings.tsx
  src/web/src/components/settings/TeamSettings.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/team/TeamCard.tsx
  src/web/src/components/team/TeamCard.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/team/TeamList.tsx
  src/web/src/components/team/TeamList.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/team/TeamMembers.tsx
  src/web/src/components/team/TeamMembers.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/config/api.config.ts
  src/web/src/config/api.config.ts
Owners: @frontend-team, @devops-team, @security-team

Add public-samples/codequest2-84xz55/src/web/src/config/theme.config.ts
  src/web/src/config/theme.config.ts
Owners: @frontend-team, @devops-team, @security-team

Add public-samples/codequest2-84xz55/src/web/src/constants/activity.constants.ts
  src/web/src/constants/activity.constants.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/constants/points.constants.ts
  src/web/src/constants/points.constants.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/constants/routes.constants.ts
  src/web/src/constants/routes.constants.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/hooks/useActivity.ts
  src/web/src/hooks/useActivity.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/hooks/useAnalytics.ts
  src/web/src/hooks/useAnalytics.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @frontend-team

.github/CODEOWNERS:

# Ensures complete coverage of codebase ownership
* @tech-leads

# Backend source code ownership
src/backend/** @backend-team

# Frontend source code ownership
src/web/** @frontend-team

# Infrastructure and deployment code ownership
infrastructure/** @devops-team

# CI/CD workflow ownership with security oversight
.github/workflows/** @devops-team @security-team

# Authentication module ownership - Backend
src/backend/src/modules/auth/** @security-team @backend-team

# Authentication components ownership - Frontend
src/web/src/components/auth/** @security-team @frontend-team

# Backend configuration ownership
src/backend/src/config/** @backend-team @devops-team @security-team

# Frontend configuration ownership
src/web/src/config/** @frontend-team @devops-team @security-team

# Test files ownership
*.test.ts @qa-team
*.test.tsx @qa-team

# Package dependency management ownership
package*.json @tech-leads @security-team

# Container definition ownership
**/Dockerfile @devops-team @security-team

# Environment configuration ownership
**/*.env.* @tech-leads @security-team
