Repository ME-sdeo/codequest2-84xz55, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @frontend-team, @devops-team, @security-team, @qa-team

Add public-samples/codequest2-84xz55/.github/pull_request_template.md
  .github/pull_request_template.md
Owners: @tech-leads

Add public-samples/codequest2-84xz55/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @tech-leads

Add public-samples/codequest2-84xz55/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @tech-leads

Add public-samples/codequest2-84xz55/.github/workflows/backend-cd.yml
  .github/workflows/backend-cd.yml
Owners: @devops-team, @security-team

Add public-samples/codequest2-84xz55/.github/workflows/backend-ci.yml
  .github/workflows/backend-ci.yml
Owners: @devops-team, @security-team

Add public-samples/codequest2-84xz55/.github/workflows/dependency-check.yml
  .github/workflows/dependency-check.yml
Owners: @devops-team, @security-team

Add public-samples/codequest2-84xz55/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @security-team

Add public-samples/codequest2-84xz55/.github/workflows/web-cd.yml
  .github/workflows/web-cd.yml
Owners: @devops-team, @security-team

Add public-samples/codequest2-84xz55/.github/workflows/web-ci.yml
  .github/workflows/web-ci.yml
Owners: @devops-team, @security-team

Add public-samples/codequest2-84xz55/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @tech-leads

Add public-samples/codequest2-84xz55/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @tech-leads

Add public-samples/codequest2-84xz55/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @tech-leads

Add public-samples/codequest2-84xz55/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @tech-leads

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/backend/configmap.yaml
  infrastructure/kubernetes/backend/configmap.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/backend/deployment.yaml
  infrastructure/kubernetes/backend/deployment.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/backend/hpa.yaml
  infrastructure/kubernetes/backend/hpa.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/backend/ingress.yaml
  infrastructure/kubernetes/backend/ingress.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/backend/secrets.yaml
  infrastructure/kubernetes/backend/secrets.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/backend/service.yaml
  infrastructure/kubernetes/backend/service.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/cert-manager/certificate.yaml
  infrastructure/kubernetes/cert-manager/certificate.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/cert-manager/issuer.yaml
  infrastructure/kubernetes/cert-manager/issuer.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/istio/destinationrule.yaml
  infrastructure/kubernetes/istio/destinationrule.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/istio/gateway.yaml
  infrastructure/kubernetes/istio/gateway.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/istio/virtualservice.yaml
  infrastructure/kubernetes/istio/virtualservice.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/monitoring/elk.yaml
  infrastructure/kubernetes/monitoring/elk.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/monitoring/grafana.yaml
  infrastructure/kubernetes/monitoring/grafana.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/monitoring/jaeger.yaml
  infrastructure/kubernetes/monitoring/jaeger.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/monitoring/prometheus.yaml
  infrastructure/kubernetes/monitoring/prometheus.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/web/configmap.yaml
  infrastructure/kubernetes/web/configmap.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/web/deployment.yaml
  infrastructure/kubernetes/web/deployment.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/web/ingress.yaml
  infrastructure/kubernetes/web/ingress.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/kubernetes/web/service.yaml
  infrastructure/kubernetes/web/service.yaml
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/aks/main.tf
  infrastructure/terraform/modules/aks/main.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/aks/outputs.tf
  infrastructure/terraform/modules/aks/outputs.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/aks/variables.tf
  infrastructure/terraform/modules/aks/variables.tf
Owners: @devops-team

.github/CODEOWNERS:

# Ensures complete coverage of codebase ownership
* @tech-leads

# Backend source code ownership
src/backend/** @backend-team

# Frontend source code ownership
src/web/** @frontend-team

# Infrastructure and deployment code ownership
infrastructure/** @devops-team

# CI/CD workflow ownership with security oversight
.github/workflows/** @devops-team @security-team

# Authentication module ownership - Backend
src/backend/src/modules/auth/** @security-team @backend-team

# Authentication components ownership - Frontend
src/web/src/components/auth/** @security-team @frontend-team

# Backend configuration ownership
src/backend/src/config/** @backend-team @devops-team @security-team

# Frontend configuration ownership
src/web/src/config/** @frontend-team @devops-team @security-team

# Test files ownership
*.test.ts @qa-team
*.test.tsx @qa-team

# Package dependency management ownership
package*.json @tech-leads @security-team

# Container definition ownership
**/Dockerfile @devops-team @security-team

# Environment configuration ownership
**/*.env.* @tech-leads @security-team
