Repository ME-sdeo/codequest2-84xz55, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @frontend-team, @devops-team, @security-team, @qa-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/cdn/main.tf
  infrastructure/terraform/modules/cdn/main.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/cdn/outputs.tf
  infrastructure/terraform/modules/cdn/outputs.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/cdn/variables.tf
  infrastructure/terraform/modules/cdn/variables.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/keyvault/main.tf
  infrastructure/terraform/modules/keyvault/main.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/keyvault/outputs.tf
  infrastructure/terraform/modules/keyvault/outputs.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/keyvault/variables.tf
  infrastructure/terraform/modules/keyvault/variables.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/redis/main.tf
  infrastructure/terraform/modules/redis/main.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/redis/outputs.tf
  infrastructure/terraform/modules/redis/outputs.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/infrastructure/terraform/modules/redis/variables.tf
  infrastructure/terraform/modules/redis/variables.tf
Owners: @devops-team

Add public-samples/codequest2-84xz55/src/backend/.env.example
  src/backend/.env.example
Owners: @tech-leads, @security-team

Add public-samples/codequest2-84xz55/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @devops-team, @security-team

Add public-samples/codequest2-84xz55/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/nest-cli.json
  src/backend/nest-cli.json
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/package.json
  src/backend/package.json
Owners: @tech-leads, @security-team

Add public-samples/codequest2-84xz55/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/migrations/1_init.ts
  src/backend/migrations/1_init.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/migrations/2_add_activity_tables.ts
  src/backend/migrations/2_add_activity_tables.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/migrations/3_add_points_tables.ts
  src/backend/migrations/3_add_points_tables.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/migrations/4_add_team_tables.ts
  src/backend/migrations/4_add_team_tables.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/proto/activity.proto
  src/backend/proto/activity.proto
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/proto/points.proto
  src/backend/proto/points.proto
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/proto/team.proto
  src/backend/proto/team.proto
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/scripts/db-migrate.ts
  src/backend/scripts/db-migrate.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/scripts/db-seed.ts
  src/backend/scripts/db-seed.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/scripts/generate-proto.sh
  src/backend/scripts/generate-proto.sh
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/src/app.module.ts
  src/backend/src/app.module.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/src/main.ts
  src/backend/src/main.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/src/config/app.config.ts
  src/backend/src/config/app.config.ts
Owners: @backend-team, @devops-team, @security-team

Add public-samples/codequest2-84xz55/src/backend/src/config/cache.config.ts
  src/backend/src/config/cache.config.ts
Owners: @backend-team, @devops-team, @security-team

Add public-samples/codequest2-84xz55/src/backend/src/config/database.config.ts
  src/backend/src/config/database.config.ts
Owners: @backend-team, @devops-team, @security-team

Add public-samples/codequest2-84xz55/src/backend/src/config/queue.config.ts
  src/backend/src/config/queue.config.ts
Owners: @backend-team, @devops-team, @security-team

Add public-samples/codequest2-84xz55/src/backend/src/config/swagger.config.ts
  src/backend/src/config/swagger.config.ts
Owners: @backend-team, @devops-team, @security-team

Add public-samples/codequest2-84xz55/src/backend/src/constants/activity.constants.ts
  src/backend/src/constants/activity.constants.ts
Owners: @backend-team

.github/CODEOWNERS:

# Ensures complete coverage of codebase ownership
* @tech-leads

# Backend source code ownership
src/backend/** @backend-team

# Frontend source code ownership
src/web/** @frontend-team

# Infrastructure and deployment code ownership
infrastructure/** @devops-team

# CI/CD workflow ownership with security oversight
.github/workflows/** @devops-team @security-team

# Authentication module ownership - Backend
src/backend/src/modules/auth/** @security-team @backend-team

# Authentication components ownership - Frontend
src/web/src/components/auth/** @security-team @frontend-team

# Backend configuration ownership
src/backend/src/config/** @backend-team @devops-team @security-team

# Frontend configuration ownership
src/web/src/config/** @frontend-team @devops-team @security-team

# Test files ownership
*.test.ts @qa-team
*.test.tsx @qa-team

# Package dependency management ownership
package*.json @tech-leads @security-team

# Container definition ownership
**/Dockerfile @devops-team @security-team

# Environment configuration ownership
**/*.env.* @tech-leads @security-team
