Repository ME-sdeo/codequest2-84xz55, changes with the owners that .github/CODEOWNERS names for each.
All owners: @tech-leads, @backend-team, @frontend-team, @devops-team, @security-team, @qa-team

Add public-samples/codequest2-84xz55/src/backend/test/company.e2e-spec.ts
  src/backend/test/company.e2e-spec.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/test/jest-e2e.json
  src/backend/test/jest-e2e.json
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/test/organization.e2e-spec.ts
  src/backend/test/organization.e2e-spec.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/test/points.e2e-spec.ts
  src/backend/test/points.e2e-spec.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/backend/test/team.e2e-spec.ts
  src/backend/test/team.e2e-spec.ts
Owners: @backend-team

Add public-samples/codequest2-84xz55/src/web/.env.example
  src/web/.env.example
Owners: @tech-leads, @security-team

Add public-samples/codequest2-84xz55/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/package.json
  src/web/package.json
Owners: @tech-leads, @security-team

Add public-samples/codequest2-84xz55/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/api/activity.api.ts
  src/web/src/api/activity.api.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/api/analytics.api.ts
  src/web/src/api/analytics.api.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/api/auth.api.ts
  src/web/src/api/auth.api.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/api/company.api.ts
  src/web/src/api/company.api.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/api/organization.api.ts
  src/web/src/api/organization.api.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/api/points.api.ts
  src/web/src/api/points.api.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/api/team.api.ts
  src/web/src/api/team.api.ts
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/assets/fonts/inter/Inter-Bold.woff2
  src/web/src/assets/fonts/inter/Inter-Bold.woff2
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/assets/fonts/inter/Inter-Medium.woff2
  src/web/src/assets/fonts/inter/Inter-Medium.woff2
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/assets/fonts/inter/Inter-Regular.woff2
  src/web/src/assets/fonts/inter/Inter-Regular.woff2
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/assets/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2
  src/web/src/assets/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/assets/fonts/sf-pro/SFPro-Bold.woff2
  src/web/src/assets/fonts/sf-pro/SFPro-Bold.woff2
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/assets/fonts/sf-pro/SFPro-Medium.woff2
  src/web/src/assets/fonts/sf-pro/SFPro-Medium.woff2
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/assets/fonts/sf-pro/SFPro-Regular.woff2
  src/web/src/assets/fonts/sf-pro/SFPro-Regular.woff2
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/assets/images/badges/bug-hunter.svg
  src/web/src/assets/images/badges/bug-hunter.svg
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/assets/images/badges/code-master.svg
  src/web/src/assets/images/badges/code-master.svg
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/assets/images/badges/team-player.svg
  src/web/src/assets/images/badges/team-player.svg
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/assets/images/logos/logo-dark.svg
  src/web/src/assets/images/logos/logo-dark.svg
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/assets/images/logos/logo-light.svg
  src/web/src/assets/images/logos/logo-light.svg
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/activity/ActivityCard.tsx
  src/web/src/components/activity/ActivityCard.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/activity/ActivityFeed.tsx
  src/web/src/components/activity/ActivityFeed.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/activity/ActivityList.tsx
  src/web/src/components/activity/ActivityList.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/analytics/AnalyticsChart.tsx
  src/web/src/components/analytics/AnalyticsChart.tsx
Owners: @frontend-team

Add public-samples/codequest2-84xz55/src/web/src/components/analytics/MetricsCard.tsx
  src/web/src/components/analytics/MetricsCard.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Ensures complete coverage of codebase ownership
* @tech-leads

# Backend source code ownership
src/backend/** @backend-team

# Frontend source code ownership
src/web/** @frontend-team

# Infrastructure and deployment code ownership
infrastructure/** @devops-team

# CI/CD workflow ownership with security oversight
.github/workflows/** @devops-team @security-team

# Authentication module ownership - Backend
src/backend/src/modules/auth/** @security-team @backend-team

# Authentication components ownership - Frontend
src/web/src/components/auth/** @security-team @frontend-team

# Backend configuration ownership
src/backend/src/config/** @backend-team @devops-team @security-team

# Frontend configuration ownership
src/web/src/config/** @frontend-team @devops-team @security-team

# Test files ownership
*.test.ts @qa-team
*.test.tsx @qa-team

# Package dependency management ownership
package*.json @tech-leads @security-team

# Container definition ownership
**/Dockerfile @devops-team @security-team

# Environment configuration ownership
**/*.env.* @tech-leads @security-team
